In [2]:
import numpy as np
import pandas as pd

In [3]:
db=pd.read_csv('sorted_dataset.csv')

In [4]:
db.shape

(500, 3)

In [5]:
db.head()

             English                   Russian                         Hindi
0  "Look," she said.  «Посмотри», сказала она.             "देखो," उसने कहा।
1   3 times 5 is 15.     3 раза по 5 будет 15.               3 गुना 5 15 है.
2  5 is less than 8.               5 меньше 8.                5, 8 से कम है.
3   A bee stung Tom.       Тома ужалила пчела.  टॉम को मधुमक्खी ने काट लिया।
4    A beer, please.         Пиво, пожалуйста.            कृपया एक बीयर दें।

In [6]:
db.tail()

               English                  Russian                    Hindi
495    Bring me money.       Принеси мне денег.       मेरे लिए पैसे लाओ.
496   Bring me my bag.   Принеси мне мою сумку.   मेरे लिए मेरा बैग लाओ.
497  Bring me my cane.  Принеси мне мою трость.  मेरे लिए मेरी छड़ी लाओ.
498   Bring me my hat.   Принеси мне мою шляпу.  मेरे लिए मेरी टोपी लाओ.
499  Bring me the key.        Принеси мне ключ.           मुझे चाबी लाओ.

In [10]:
db1=pd.read_csv('DataSet.csv')

In [11]:
db1.head()

  English  Russian    Hindi
0     Go.    Идти.    जाना।
1     Hi.  Привет.  नमस्ते।
2    Run!  Бегать!  दौड़ना!
3    Run.  Бегать.  दौड़ना।
4    Who?     ВОЗ?     कौन?

In [12]:
db1.shape

(16792, 3)