In [ ]:
import numpy as np
import pandas as pd

In [ ]:
db=pd.read_csv('DataSetR.csv')

In [ ]:
df=pd.DataFrame(db)

In [17]:
df_Unique=df.drop_duplicates(subset=['English'])

In [18]:
df_Unique.head(10)

   English        Russian      Hindi
0      Go.          Марш!      जाना।
3      Hi.  Здравствуйте.    नमस्ते।
8     Run!          Беги!    दौड़ना!
10    Run.          Беги!    दौड़ना।
12    Who?           Кто?       कौन?
13    Wow!    Вот это да!  बहुत खूब!
19   Fire!         Огонь!        आग!
21   Help!      Помогите!  मदद करना!
24   Hide.       Прячься.    छिपाना।
26   Jump!        Прыгай!     कूदना!